$c-white: #fff;
$c-black: #000;

$c-dark: #191813;
$c-light: #d9d7c8;
$c-faint: #c9c7b8;
$c-beige: #b5b3a4;
$c-tan: #444;

$c-light-red: #ffaaaa;
$c-red: #cc0000;

$c-light-green: #aaffaa;
$c-green: #00cc00;

$c-light-blue: #aaaaff;
$c-blue: #0000cc;

$c-light-gray: #e0e0e0;
$c-dark-gray: #555555;
