$padding-sm: 5px;
$padding-md: 10px;
$padding-lg: 20px;

$border-groove: 2px groove #eeede0;

$border-radius-sm: 5px;
$border-radius-md: 10px;
$border-radius-lg: 15px;

$c-button1-bg: #009900;
$c-button1-bg-light: #aaffaa;
$c-button2-bg: #16448e;
$c-button2-bg-light: #aac8ff;
$c-button3-bg: #e1550a;
$c-button3-bg-light: #ffd2b3;
$c-button4-bg: #ea0d0d;
$c-button4-bg-light: #ffaaaa;
$c-button5-bg: #666666;
$c-button5-bg-light: #e0e0e0;
