/* Margins */
.mb,
.mb-half {
  margin-bottom: 0.5rem;
}

.mt,
.mt-half {
  margin-top: 0.5rem;
}

.mx,
.mx-half {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.my,
.my-quarter {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.ml,
.ml-quarter {
  margin-left: 0.25rem;
}

.mr,
.mr-quarter {
  margin-right: 0.25rem;
}
