name: Pre-Release Creation

on:
  push:
    tags:
      - '*.*.*-rc.*'

jobs:
  pre-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Load system manifest
        id: manifest
        uses: zoexx/github-action-json-file-properties@release
        with:
          file_path: './system.json'

      - name: Set up environment variables
        id: get_vars
        run: |
          TAG=${GITHUB_REF/refs\/tags\//}
          BASE_TAG_NAME=$(echo $TAG | sed 's/-.*//')
          echo "TAG_NAME=$BASE_TAG_NAME" >> $GITHUB_ENV
          echo "ZIP_NAME=dod.zip" >> $GITHUB_ENV
          echo "RELEASE_DOWNLOAD_URL=https://github.com/${{ github.repository }}/releases/download/$TAG/dod.zip" >> $GITHUB_ENV
          echo "RELEASE_INSTALL_URL=https://github.com/${{ github.repository }}/releases/download/$TAG/system.json" >> $GITHUB_ENV

      - name: Checks correct naming
        env:
          TAG_NAME: ${{ env.TAG_NAME }}
          RELEASE_DOWNLOAD: ${{ env.RELEASE_DOWNLOAD_URL }}
          PACKAGE_VERSION: ${{ steps.manifest.outputs.version }}
          PACKAGE_DOWNLOAD: ${{ steps.manifest.outputs.download }}
        run: |
          # Validate that the tag being released matches the package version.
          if [[ ! $TAG_NAME == $PACKAGE_VERSION ]]; then
            echo "The system.json version does not match tag name."
            echo "system.json: $PACKAGE_VERSION"
            echo "tag name: $TAG_NAME"
            echo "Please fix this and push the tag again."
            exit 1
          fi

          # Validate that the package download url matches the release asset that will be created.
          # This can be used for the real release, but for now we will just check the tag name.
          # if [[ ! $RELEASE_DOWNLOAD == $PACKAGE_DOWNLOAD ]]; then
          #   echo "The system.json download url does not match the created release asset url."
          #   echo "system.json: $PACKAGE_DOWNLOAD"
          #   echo "release asset url: $RELEASE_DOWNLOAD"
          #   echo "Please fix this and push the tag again."
          #   exit 1
          # fi

      - name: Modify system.json with updated download url
        run: |
          jq --arg url "${{ env.RELEASE_DOWNLOAD_URL }}" '.download = $url' system.json > tmp.json && mv tmp.json system.json

      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          cache: 'npm'

      - name: Install Dependencies
        run: npm install

      - name: Build All
        run: npm run build

      - name: Zip Files
        run: zip ${{ env.ZIP_NAME }} -r assets packs src/lang src/module src/templates styles LICENSE README.md system.json

      - name: Update Release with Files
        id: create_pre_release
        uses: ncipollo/release-action@v1
        with:
          draft: false
          prerelease: true
          omitDraftDuringUpdate: true
          omitPrereleaseDuringUpdate: true
          token: ${{ secrets.GITHUB_TOKEN }}
          artifacts: './system.json, ./${{ env.ZIP_NAME }}'
          body: |
            **Installation:** To manually install this release, please use the following manifest URL: ${{ env.RELEASE_INSTALL_URL }}
